h2{
    text-align:center;
}

.container-body{
    width:80%;
    margin:auto;
}

.container-datos{
    display:flex;
    justify-content:space-around;
    background-color:#3498DB;
    color:white;
}